.favorite {
  &__main {
    position: relative;
  }
  &__inner {
    width: 70%;
    margin: 0 auto;
    padding: 110px 0 20px;
    box-sizing: border-box;
    @media(max-width: 640px) {
      width: 100%;
      margin: 0 auto;
      padding: 90px 20px 20px;
    }
  }
  &__title {
    color: #002561;
  	font-size: 36px;
  	font-weight: 600;
  	line-height: 57px;
    margin: 0 0 30px;
    @media(max-width: 640px) {
      font-size: 31px;
      line-height: 32px;
    }
  }
  &__msgCta {
    position: absolute;
    right: 3%;
    top: 600px;
    @media(max-width: 640px) {
      display: none;
    }
    > button {
      padding: 28px 20px 20px;
      border-radius: 50%;
      background-color: #EC145A;
      color: #ffffff;
      border: none;
      font-size: 20px;
      height: 87px;
      width: 87px;
      cursor: pointer;
      outline: none;
      box-shadow: 10px 10px 18px 0 rgba(0,0,0,0.24);
    }
    img {
      max-width: 100%;
      width: 32px;
    }
  }
  &__contentWrap {
    .favorite-masonry-grid {
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      margin-left: -30px; /* gutter size offset */
      width: auto;
      > div {
        @media(max-width: 640px) {
          border-radius: 20px;
        }
      }
    }
    .favorite-masonry-grid_column {
      padding-left: 30px; /* gutter size */
      background-clip: padding-box;
      /* Style your items */
      > div { /* change div to reference your elements you put in <Masonry> */
        overflow: hidden;
        margin-bottom: 30px;
      }
    }
  }
  &__imgWrap {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    > img {
      border-radius: 8px;
      max-width: 100%;
      cursor: pointer;
    }
  }
  &__delete {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 25px;
    > img {
      max-width: 100%;
    }
  }


}
