.modal__mainWrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 15; }

.modal__inner {
  height: 100%; }

.modal__imgCtrlWrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 640px) {
    .modal__imgCtrlWrap {
      display: block; } }

.modal__imgWrap {
  max-width: 100%;
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2; }
  .modal__imgWrap > img {
    max-width: 100%; }

.modal__img {
  display: none; }
  .modal__img .react-player__preview {
    position: relative;
    z-index: 4; }
    @media (max-width: 640px) {
      .modal__img .react-player__preview {
        z-index: 2; } }
  .modal__img.showImg {
    display: block;
    width: 100% !important;
    margin: 0 auto; }
    @media (max-width: 640px) {
      .modal__img.showImg {
        width: 100% !important; } }
  .modal__img > div:nth-child(1) {
    width: auto !important;
    height: 80vh !important; }
    @media (max-width: 640px) {
      .modal__img > div:nth-child(1) {
        width: 100% !important;
        height: 100vh !important; } }
  .modal__img video {
    width: auto !important; }
    @media (max-width: 640px) {
      .modal__img video {
        width: 100% !important;
        height: 100vh !important; } }

.modal__imgDescActns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  width: 100%;
  padding: 20px 20px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 4; }
  @media (max-width: 640px) {
    .modal__imgDescActns {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px 20px 80px;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000000));
      background: -webkit-linear-gradient(top, transparent 0%, #000000 100%);
      background: -o-linear-gradient(top, transparent 0%, #000000 100%);
      background: linear-gradient(180deg, transparent 0%, #000000 100%); } }

.modal__imgShareMedias {
  position: absolute;
  bottom: 160px;
  right: -40px;
  width: 400px;
  text-align: left;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (min-width: 641px) {
    .modal__imgShareMedias {
      display: none; } }
  @media (max-width: 640px) {
    .modal__imgShareMedias {
      width: 92%;
      bottom: -85px;
      position: fixed;
      left: 4%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 1;
      -webkit-transform: translate(0%, 65%);
      -ms-transform: translate(0%, 65%);
      transform: translate(0%, 65%); }
      .modal__imgShareMedias:before {
        display: none; } }
  .modal__imgShareMedias.showShareModal {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0%, -20px);
    -ms-transform: translate(0%, -20px);
    transform: translate(0%, -20px); }
    @media (max-width: 640px) {
      .modal__imgShareMedias.showShareModal {
        opacity: 1;
        -webkit-transform: translate(0px, -105px);
        -ms-transform: translate(0px, -105px);
        transform: translate(0px, -105px); } }

.modal__imgShareMediaInner {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px; }
  @media (max-width: 640px) {
    .modal__imgShareMediaInner {
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 15px; }
      .modal__imgShareMediaInner:before {
        display: none; } }
  .modal__imgShareMediaInner:before {
    top: 100%;
    right: 10%;
    border: solid #ffffff;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 14px;
    margin-left: -14px; }

.modal__imgShareMediaCancelMob {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 13px;
  border-radius: 15px;
  text-align: center;
  color: #428be6;
  cursor: pointer;
  display: none; }
  @media (max-width: 640px) {
    .modal__imgShareMediaCancelMob {
      display: block; } }

.modal__imgShareMediaIcon {
  display: inline-block;
  width: 19%;
  padding: 0px 10px;
  margin-bottom: 20px; }
  @media (max-width: 640px) {
    .modal__imgShareMediaIcon {
      width: 18%; } }
  .modal__imgShareMediaIcon > img {
    display: block;
    width: 60px;
    max-width: 100%;
    margin: 0 auto 5px; }
  .modal__imgShareMediaIcon > div {
    font-size: 12px;
    text-align: center; }
    @media (max-width: 640px) {
      .modal__imgShareMediaIcon > div {
        font-size: 10px; } }

.modal__imgCtrls {
  position: absolute;
  width: 100%;
  z-index: 16; }

.modal__imgCtrlLeft > img, .modal__imgCtrlRight > img {
  width: 32px; }

.modal__imgCtrlLeft {
  left: 0px;
  -webkit-box-flex: 0.1;
  -ms-flex: 0.1;
  flex: 0.1;
  cursor: pointer; }
  @media (max-width: 640px) {
    .modal__imgCtrlLeft {
      position: absolute;
      z-index: 1;
      top: 0%;
      height: 100vh;
      width: 140px;
      z-index: 3; }
      .modal__imgCtrlLeft > img {
        position: relative;
        top: 48%;
        right: 50px;
        opacity: 0.4; } }

.modal__imgCtrlRight {
  right: 0px;
  -webkit-box-flex: 0.1;
  -ms-flex: 0.1;
  flex: 0.1;
  cursor: pointer; }
  @media (max-width: 640px) {
    .modal__imgCtrlRight {
      position: absolute;
      z-index: 1;
      top: 0%;
      right: 0px;
      height: 100vh;
      width: 140px;
      z-index: 3; }
      .modal__imgCtrlRight > img {
        position: relative;
        top: 48%;
        right: -50px;
        opacity: 0.4; } }
  .modal__imgCtrlRight > img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.modal__img {
  position: relative;
  border-radius: 8px; }
  .modal__img > img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 90vh;
    cursor: pointer; }

.modal__imgActions {
  width: 20px; }
  .modal__imgActions > img {
    max-width: 100%;
    margin-bottom: 15px;
    cursor: pointer; }
    @media (max-width: 640px) {
      .modal__imgActions > img:last-child {
        margin-bottom: 5px; } }

.modal__close {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 18px;
  z-index: 20;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer; }
  .modal__close > img {
    width: 24px; }

.modal__imgDesc {
  bottom: 70px;
  left: 20px;
  width: 70%;
  display: none;
  font-size: 12px;
  color: #ffffff;
  text-align: left; }
  @media (max-width: 640px) {
    .modal__imgDesc {
      display: block; } }

.modal__imgDescTitle {
  font-weight: 600;
  margin: 0 0 10px; }

.modal__imgDescSubTitle {
  font-weight: 400; }
