.about__wrap {
  width: 100%;
  margin: 70px 0 0;
  color: #ffffff;
  background: -webkit-linear-gradient(47.97deg, #7A0CE9 0%, #FE5565 100%);
  background: -o-linear-gradient(47.97deg, #7A0CE9 0%, #FE5565 100%);
  background: linear-gradient(42.03deg, #7A0CE9 0%, #FE5565 100%);
  text-align: center;
  padding: 50px 20% 20px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .about__wrap {
      padding: 50px 10% 20px; } }

.about__inner {
  width: 100%;
  margin: 0% auto 0; }

.about__title {
  font-size: 21px;
  margin: 0 0 15px;
  font-weight: 600; }
  .about__title + div {
    line-height: 1.8;
    font-size: 15px; }
    @media (max-width: 768px) {
      .about__title + div {
        font-size: 12px; } }

.about__social {
  margin: 0 auto; }

.about__socialItem {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 17px;
  text-decoration: none; }
  .about__socialItem:first-child {
    border-right: solid 1px rgba(255, 255, 255, 0.3); }
