.header {
  &__wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 26px;
    z-index: 10;
    > div {
      display: inline-block;
    }
    &.secondaryHeader {
      background-color: #EC145A;
      padding: 13px 26px;
      .header__hamMenu {
        position: relative;
        top: 10px;
      }
      .header__hamMenu {
        @media(max-width: 640px) {
          top: 0px;
        }
        span {
          opacity: 1;
          height: 2px;
        }
      }
    }
  }

  &__menuMain {
    float: right;
    @media(max-width: 640px) {
      position: relative;
      top: 10px;
    }
  }
  &__hamMenu {
    cursor: pointer;
    height: 20px;
    > span {
      position: relative;
      display: block;
      margin: 0 0 8px;
      width: 32px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.9);
      transition: all 0.2s ease;
      @media(max-width: 640px) {
        opacity: 0.49;
      }
    }
    &.showClose {
      > span {
        &:first-child {
          top: 5px;
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          bottom: 4px;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  &__menuSliderWrap {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100vh;
    max-width: 285px;
    min-width: 260px;
    z-index: 11;
    transition: all 0.3s ease;
    transform: translateX(100%);
    @media(min-width: 641px) {
      top: 140px;
      bottom: initial;
      height: auto;
      width: 400px;
      max-width: 400px;
    }
    &.SlideOpen {
      transform: translateX(0%);
    }
  }
  &__menuSliderInner {
    // background-color: #002561;
    // background: linear-gradient(137.33deg, #8316FF 0%, #FC3470 100%);
    background-color: #FB3571;
    color: #ffffff;
    height: 100%;
    @media(min-width: 641px) {
      // background-color: #002053;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.15);
    }
  }
  &__menuSliderTitleBlock {
    text-align: center;
    padding: 35px;
    @media(min-width: 641px) {
      padding: 21px 31px;
    }
  }
  &__menuSliderTitleDetails {
    vertical-align: middle;
    @media(min-width: 641px) {
      text-align: left;
      display: inline-block;
      width: 70%;
    }
  }
  &__menuSliderTitleImg {
    margin-bottom: 13px;
    vertical-align: middle;
    > img {
      border-radius: 50%;
    }
    @media(min-width: 641px) {
      text-align: left;
      display: inline-block;
      width: 29%;
    }
  }
  &__menuSliderTitleName {
    font-weight: 500;
  }
  &__menuSliderTitleName, &__menuSliderTitleContact {
    margin-bottom: 13px;
  }
  &__menuSliderOptionsWrap {
  	// background-color: #002053;
    // background: linear-gradient(137.33deg, #8316FF 0%, #FC3470 100%);
    background-color: #DB1B55;
    height: 100%;
    padding-top: 37px;
    @media(min-width: 641px) {
      padding-top: 0;
      // padding-bottom: 20px;
    }
  }
  &__menuSliderOption {
    display: block;
    position: relative;
    padding: 16px 16px 16px 70px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    &:hover {
      // background-color: #0A2C64;
      background-color: rgba(255, 255,255, 0.1);
    }
    span {
      position: absolute;
      left: 35px;
      top: 16px;
    }
  }

  &__menuSliderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 9;
    display: none;
    @media (max-width: 640px) {
      display: block;
    }
  }

}
