.mobValid {
  &__wrap {
    // position: fixed;
    // height: 100%;
    // right: 0;
    // z-index: 1;
  }


}

.sliderValidation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0px;
  width: 400px;
  height: 600px;
  z-index: 21;
  box-sizing: border-box;
  background-color: #002053;
  color: #ffffff;
  padding: 38px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  transform: translate(100%, -50%);
  @media(max-width: 640px) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: initial;
    transform: translate(100%, 0%);
    border-radius: 0px;
    background: linear-gradient(114.33deg, #8316FF 0%, #FC3470 100%);
  }
  &.SlideOpen {
    transform: translate(0%, -50%);
    @media(max-width: 640px) {
      transform: translate(0%, 0%);
    }
  }
  &__inner {
    width: 100%;
  }
  &__title {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 60px;
    width: 60%;
    @media(max-width: 640px) {
      width: 75%;
    }
  }
  &__input {
    position: relative;
    > input {
      padding: 0 0 18px;
      border: none;
      outline: none;
      border-bottom: 1px solid #ffffff;
      margin-bottom: 38px;
      background-color: transparent;
      color: #ffffff;
      font-size: 24px;
      width: 100%;
    }
    &.otp {
      > input {
        // padding: 0 0 18px 5px;
        // letter-spacing: 42px;
        padding: 0 0 18px 10px;
        letter-spacing: 37px;
        border-bottom: none;
        background-image: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 50px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 90%;
        @media(max-width: 640px) {
          width: 100%;
        }
      }
    }
  }
  &__submitCta {
    button {
      height: 50px;
      width: 170px;
      border-radius: 5px;
      background-color: #EC145A;
      color: #ffffff;
      border: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
      @media(max-width: 640px) {
        height: 50px;
        width: 175px;
        font-size: 14px;
      }
    }
  }
}

.error {
  position: absolute;
  bottom: 10px;
  color: #ffffff;
  font-size: 12px;
  display: none;
  &.showError {
    display: block;
  }
}
